<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="../css/aboutstyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<div id="outer-box">
     
	<!--navigation start her-->
	<nav>

	<div class="navbar">
		<div class="logo"><img id="img-img" src="../images/MLlogo.png" height="60px" width="60px"> MeshiLogic</div>



	</nav>


	<div id="main">
		

		<div class="right-sidebar">


		<div class="about-head"><h2>About Meshilogic</h2></div>
		<div class="about-para"><p>MeshiLogic was established in the year 2001 at KINFRA Techno Industrial Park, Kakancheri, Calicut, Kerala, India, aimed to provide technology based solutions to various industry verticals. We offer full cycle custom software programming services, from product idea, offshore software development, outsourcing support & enhancement and complete Web Development & designing. We are able to balance product development efforts and project duration to suit your business needs. The company’s main motto is to empower business transformation with adequate technology.</p><p> The perfect global delivery model of the company helps to pool best talents across the globe to provide optimal, cost-effective technical solutions for the corporate class in time. This effective and highly professional function of Meshilogic allows the corporate to move in line with today’s highly volatile technical environment.</p></div>


		<div class="about-mission"><h2>Our Mission</h2></div>
		<div class="common-para"><p>To enable our customers to achieve sustainable competitive edge by providing the best quality of service through effective analysis and understanding of their various requirements and thereby providing them with the most feasible and cost-effective solution.</p></div>





		<div class="about-corporate"><h2>Corporate Philosaphy</h2></div>
		<div class="common-para"><p>Our corporate values emphasis the fundamental management principles we adhere. Our corporate values revolve round trust, innovation, insight, integrity and guaranty of support.</p></div>


		

		</div>








	</div>

	</div>



</body>
</html>