<!DOCTYPE html>
<html>
<head>
	<div id="outer-box">
     
	<!--navigation start her-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Details</title>
	<link rel="stylesheet" type="text/css" href="../css/contactpage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<nav>

	<div class="navbar">
		<div class="logo"><img id="img-img" src="../images/MLlogo.png" height="60px" width="60px"> MeshiLogic</div>



	</nav>


	<div id="main">
		

		<div class="right-sidebar">


		<div class="details-head"><h2>CONTACT DETAILS</h2></div>
		<div class="details-para"><h3>Adress</h3><br><p># 210, Kinfra Techno-Industrial Park,PIN: 673634, Kerala, India</p> <p>Tel:0494 2405650 , +91 9447187400 , +91 9447517300</p></div>
		<div class="email"><p>Email: <a href="mailto:mail@meshilogic.com">mail@meshilogic.com</a></p></div>


		



		

		</div>








	</div>

	</div>



</body>
</html>