<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>playlist-8</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<script src="../javascript/main.js"></script>
	
</head>
<body>

	<div id="outer-box">


		<!--navigation start here-->
	<nav>

	<div class="navbar">
		<div class="logo"><img id="img-img" src="../images/MLlogo.png" height="60px" width="60px"> MeshiLogic</div>



	<div class="menu-bar">
		<ul>
			<li><a href="about.html">About</a> </li>
		</ul>

		<div class="cnt-button"><a href="contactpage.html"><button class="contact-button">contact</button></a></div>


	</div>
		</div>
	</nav>

<div id="main">

<!--left sidebar starts here-->

	<div id="left-sidebar">


    <div class="playlist-head"><img src="../images/MLplaylist.png" width="20" height="20"> PLAYLISTS </div>


    <div id="playlist-but">

    	<a href="home-page.html"><button class="pl" id="home-btn"> HOME </button></a>

    <ul>
            	
 <li><a href="playlist-1.html"><button class="pl" >Playlist 1</button></a></li>
 <li><a href="playlist-2.html"><button class="pl" >Playlist 2</button></a></li>
 <li><a href="playlist-3.html"><button class="pl" >Playlist 3</button></a></li>
 <li><a href="playlist-4.html"><button class="pl" >Playlist 4</button></a></li>
 <li><a href="playlist-5.html"><button class="pl" >Playlist 5</button></a></li>
 <li><a href="playlist-6.html"><button class="pl" >Playlist 6</button></a></li>
 <li><a href="playlist-7.html"><button class="pl" >Playlist 7</button></a></li>
 <li><a href="playlist-8.html"><button class="pl" >Playlist 8</button></a></li>
                
    </ul>  

    </div>          
		



	</div>




	<div id="right-sidebar">

<h2 class="sub-head">Online Campus :- time table</h2>	

<div class="row">
		<div id="videop1" class="video-frame"></div>
		<div id="videop2" class="video-frame"></div>
</div>		




		<!--play list videos will come here-->
	</div>


</div>

	</div>



<script type="text/javascript">



	 window.onload= loadPlaylist();
    function loadPlaylist() {
 
               document.getElementById('videop1').innerHTML = '<iframe width="290" height="180" src="https://www.youtube.com/embed/NuN1rLes7pk" title="YouTube video player" frameborder="20" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'+ "<p>Meshilogic - Online Campus - Academics - Timetable Module part1</p>";


                document.getElementById('videop2').innerHTML = '<iframe width="290" height="180" src="https://www.youtube.com/embed/_pfoeuMRc7Y" title="YouTube video player" frameborder="20" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'+"Meshilogic - Online Campus - Academics Timetable Module part2";
    	

              
    }


	




</script>	
